body {
  margin: 0;
  padding: 0;

  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  color: #0c0d14;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* шапка */
.header {
  padding-top: 56px;
  padding-bottom: 40px;
  background-image: url(../img/header-layer.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #0d0c14;
  background-size: cover;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 253px;
  height: 63px;
}

.main-navigation-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 670px;
}

.site-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 600px;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.site-navigation,
.services-submenu {
  list-style: none;
}

.site-navigation-item {
  position: relative;
  margin-left: 55px;
}

.site-navigation-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(77, 188, 233, 0.6);
}

.site-navigation a:active,
.site-navigation-item-current a {
  color: #4dbce9;
}

.site-navigation-item-services .fa-angle-down {
  margin-left: 10px;
}

.services-submenu {
  display: none;

  position: absolute;
  top: 40px;

  width: 218px;
  padding: 0;

  font-size: 15px;
  line-height: 40px;

  background-color: #ffffff;
  box-shadow: 0 5px 25px rgba(31, 28, 22, 0.8);
}

.services-submenu-item {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 13px;
  padding-right: 33px;
  margin-bottom: -1px;

  border: 1px solid #d7e0e3;

  cursor: pointer;
}

.services-submenu-item:hover,
.services-submenu-item:focus {
  background-color: #4dbce9;
}

.services-submenu-item:active {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1) inset;
}

.services-submenu-item .fa-angle-right {
  margin-right: 13px;
}

.services-submenu a,
.services-submenu a:hover,
.services-submenu a:focus,
.services-submenu a:active {
  color: #0d0c14;
}

.site-navigation-item-services:hover .services-submenu {
  display: block;
}

/* описание компании */
.company-description {
  padding-top: 73px;
  padding-bottom: 120px;

  background-image: url(../img/company-desc.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #0d0c14;
  background-size: cover;
}

.company-description h2 {
  max-width: 670px;
  font-size: 80px;
  font-weight: 400;
  line-height: 93px;
  /*подбирать*/
  color: #ffffff;

  margin: 0;
  margin-bottom: 55px;
}

.company-description p {
  position: relative;
  color: #4dbce9;

  margin: 0;
  margin-bottom: 65px;
  max-width: 670px;
  padding-left: 62px;
}

.company-description p::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 25px;
  width: 3px;
  height: 73px;
  background-color: #4dbce9;
}

.btn {
  display: block;
  width: 270px;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #4dbce9;
  background-image: linear-gradient(30deg, #2a88e0 0%, #71d6ff 100%);

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 63px;
  padding-right: 43px;
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(30deg, #71d6ff 0%, #2a88e0 100%);
}

.btn:active {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3) inset;
}

.btn .fa-angle-right {
  margin-left: 20px;
}

/* о нас */
.about-us {
  padding-top: 139px;
  padding-bottom: 115px;

  background-color: #f7f9f9;
  background-image: url("../img/about-us.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.about-us .container {
  display: flex;
  justify-content: flex-end;
}

.section-title {
  font-size: 80px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 62px;
}

.about-us p {
  margin: 0;
}

p.about-us-highlight {
  width: 570px;
  color: #4dbce9;
  margin-bottom: 55px;
}

p.about-us-description {
  width: 500px;
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 65px;
}

.about-us-countries {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 466px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flag-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 72px;
  background-color: #4dbce9;
  background-image: linear-gradient(30deg, #2a88e0 0%, #4dbce9 100%);
}

.about-us-countries-item img {
  width: 100px;
  height: 66px;
}

.country-name {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
}

/* услуги */
.our-services {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #ddebf1;
  background-image: url("../img/our-services.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.our-services h2 {
  text-align: center;
}

/* .our-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
} */

.our-services-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.col-3 {
  width: 370px;
  margin-left: 30px;
}

.our-services-item {
  height: 254px;
  width: 370px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-right: 45px;
  padding-left: 50px;
  margin-bottom: 30px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: top right;
  box-shadow: 0 5px 15px rgba(31, 28, 22, 0.15);
}

.our-services-item h3 {
  margin: 0;
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
}

.our-services-item p {
  margin: 0;
  margin-bottom: 12px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.our-services-item-aso {
  background-image: url("../img/aso.png");
}

.our-services-item-prod {
  background-image: url("../img/creative-prod.png");
}

.our-services-item-prod h3 {
  margin-bottom: 17px;
}

.our-services-item-retarget {
  background-image: url("../img/retarget.png");
}

.our-services-item-retarget p {
  margin-bottom: 30px;
}

.our-services-item-consulting {
  background-image: url("../img/consulting.png");
}

.our-services-item-media-buiyng {
  height: 538px;
  padding-top: 190px;
  padding-right: 47px;
  background-image: url("../img/buying.png");
}

.our-services-item-media-buiyng h3 {
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 54px;
}

.our-services-item-media-buiyng p {
  font-size: 16px;
  line-height: 20px;
}

.btn-services {
  display: block;

  padding: 0;

  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;
  text-transform: uppercase;

  background: none;
  border: none;

  cursor: pointer;
}

.btn-services:hover,
.btn-services:active {
  color: #2d8de1;
}

/* фидбэк */
.feedback {
  padding-top: 70px;
  padding-bottom: 74px;
  background-color: #4dbce9;
  background-image: url("../img/contact-us.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.feedback h2 {
  text-align: center;
}

.feedback-content {
  position: relative;
  width: 570px;
  height: 534px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ddebf1;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 30px;
  left: 30px;

  width: 510px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 70px;
  padding-left: 70px;

  background-color: #ffffff;
}

.feedback-form input {
  width: 370px;
  height: 43px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 7px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #0c0d14;
  border: 1px solid #d7e0e3;
  background-color: #ffffff;
}

.feedback-form input:last-of-type {
  margin-bottom: 31px;
}

.feedback-form input::placeholder {
  color: #0c0d14;
}

.feedback-form-product-type {
  position: relative;
}

.feedback-product-type-list {
  /* display: none; */
  position: absolute;
  top: 145px;
  right: -170px;
  width: 218px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0 5px 25px rgba(31, 28, 22, 0.2);
  list-style: none;
}

.feedback-product-type-item {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: #0d0c14;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 13px;
  padding-right: 26px;
  margin-bottom: -1px;
  border: 1px solid #d7e0e3;
  cursor: pointer;
}

.feedback-product-type-item:first-of-type::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -7px;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  border: 1px solid #d7e0e3;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
}

.feedback-product-type-item:hover::before,
.feedback-product-type-item:hover {
  background-color: #4dbce9;
  border-color: #4dbce9;
}

.feedback-product-type-item:active {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1) inset;
}

.feedback-product-type-item a {
  color: #0d0c14;
}

.feedback-product-type-item .fa-angle-right {
  margin-right: 6px;
}

.btn-feedback {
  width: 230px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 52px;
  padding-right: 52px;
  font-size: 21px;
  border: none;
}

/* футер */
.footer {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #0d0c14;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer img {
  width: 183px;
  height: 45px;
}

.footer p {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

/* попапы */
.popup {
  display: none;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(31, 28, 22, 0.15);
}

/* попап услуги  */
.services-popup {
  top: 30px;
  left: 50%;
  width: 970px;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 70px;
  padding-right: 173px;
  margin-left: -435px;

  background-image: url("../img/buying_modal.png");
  background-repeat: no-repeat;
  background-position: right top;

  z-index: 3;
}

.services-popup-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-popup.active {
  display: block;
}

.services-popup-item {
  display: none;
}

.services-popup-item-media-buying.active {
  display: block;
}

.services-popup-item h3 {
  margin: 0;
  margin-bottom: 37px;
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
}

.services-popup-item p {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.services-popup-item p:last-of-type {
  margin-bottom: 38px;
}

.btn-services-popup {
  height: 70px;
  padding-top: 17px;
  padding-bottom: 18px;
  padding-left: 48px;
}

.popup-close {
  position: absolute;
  top: 0;
  right: -45px;

  width: 27px;
  height: 27px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  top: 11px;
  left: -4px;
  width: 35px;
  height: 3px;

  background-color: #ffffff;
}

.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}

.popup-close:hover::before,
.popup-close:hover::after,
.popup-close:active::before,
.popup-close:active::after {
  background-color: #2d8de1;
}

.services-popup-back,
.services-popup-next {
  position: absolute;
  top: 50%;

  width: 70px;
  height: 70px;
  margin-top: -35px;

  color: #9bcdf1;

  background-color: #ffffff;
  border: 1px solid #ddebf1;
  border-radius: 50%;

  cursor: pointer;
}

.services-popup-back:hover,
.services-popup-next:hover,
.services-popup-back:active,
.services-popup-next:active {
  color: #2d8de1;
}

.services-popup-back {
  left: -35px;
}

.services-popup-next {
  right: -35px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal-overlay.active {
  display: block;
}

/* попап после отправки */
.feedback-form-popup {
  top: 100px;
  left: 50%;
  width: 570px;
  padding-top: 40px;
  padding-bottom: 45px;
  padding-left: 146px;
  padding-right: 144px;
  margin-left: -285px;
  text-align: center;
}

.icon-success,
.icon-fail {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 49px;
  background-image: url("../img/modal-success.png");
  background-repeat: no-repeat;
}

.feedback-form-popup p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form-popup p:last-of-type {
  margin-bottom: 0;
}

p.feedback-form-popup-reaction {
  font-size: 50px;
  line-height: 60px;
}

p.feedback-form-popup-description {
  line-height: 70px;
}

.feedback-form-popup-fail {
  display: none;
}

.icon-fail {
  background-image: url("../img/modal-fail.png");
}

.feedback-form-popup-fail .feedback-form-popup-description {
  margin-bottom: -10px;
}

p.feedback-form-popup-request {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  /*подобрать*/
  font-weight: 400;
  line-height: 30px;
}

/* сетка */
.container {
  box-sizing: border-box;
  max-width: 1600px;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
}
